@import url('file:///home/lll2yu/.cache/wal/colors.css');

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}

browser {
  background-color: var(--color0) !important;
}

#main-window:not([tabsintitlebar="false"]) #TabsToolbar {
  visibility: collapse !important;
}

/* Sidebar min and max width removal */

#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}

/* Hide splitter, when using Tree Style Tab. */

#sidebar-box + #sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */

#sidebar-header {
  display: none;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */

:root {
  --thin-tab-width: 30px;
  --wide-tab-width: 200px;
}

#sidebar-box {
  overflow: hidden;
  position: relative !important;
  transition: all 0.2s ease !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  z-index: 2;
}

#sidebar-box:hover {
  transition: all 200ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
  margin-left: 0;
}

#main-window[inFullscreen] #sidebar {
  height: 100vh;
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
  background: var(--color0) !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_toolbox.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar */

@media (-moz-os-version: windows-win10){

  :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 10px !important; }
  :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox{ margin-top: -2px }

  @media screen and (min-resolution: 1.25dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 9px !important; }
  }
  @media screen and (min-resolution: 1.5dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 8px !important; }
    :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox{ margin-top: -1px }
  }
  @media screen and (min-resolution: 2dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 7px !important; }
  }
}

:root[sizemode="fullscreen"]{ margin-top: 0px !important; }

#navigator-toolbox{
  position: fixed !important;
  display: block;
  background-color: var(--lwt-accent-color,black) !important;
  transition: transform 82ms 33ms linear, opacity 82ms 33ms linear !important;
  transform-origin: top;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}

#navigator-toolbox > *{ line-height: normal; pointer-events: auto }

#navigator-toolbox,
#navigator-toolbox > *{
  width: 100vw;
  -moz-appearance: none !important;
}

#navigator-toolbox:not(:focus-within):not(:hover){
  transform: rotateX(86deg); /* This may need to be lower in osx - like 75 or so */
  opacity: 0;
}

:root[sizemode="maximized"] #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89.5deg) }

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }
